.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr ;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:45px;
    margin: 50px;
}
.btn-proceed{
    width: 90%;
    height: 56px;
    border-radius: 4px;
    background: #FF9900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    margin-top: 10px;
}