.review-orders{

}
.order-info {
    display: flex;
    align-items: center;
    width: 571px;
    height: 107px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    padding:24px;
}
.order-info img{
    width: 91px;
    height: 91px;
    flex-shrink: 0;
}